<h3>Plugins</h3>
<div (scroll)="this.scrolling()" (transitionend)="this.scrolling()" class="container" id="plugin-list-group">
  <div id="pluginShadowTop"></div>
  <div class="list-group" id="plugin-list-tab" role="tablist">
    @for (plugin of pluginList; track plugin.pluginId) {
      <a [attr.aria-controls]="'list-'+(plugin.pluginId)" class="list-group-item list-group-item-action"
         data-bs-toggle="list"
         [attr.routerLink]="'plugin-settings/'+(plugin.pluginId)"
         [attr.id]="'list-'+(plugin.pluginId)+'-list'" role="tab"
         (click)="this.pluginSettings(plugin.pluginId)">{{ plugin.displayName }}
      </a>
    }
  </div>
  <div id="pluginShadowBottom"></div>
</div>
