<h3>Plugins</h3>
<div (scroll)="this.scrolling()" (transitionend)="this.scrolling()" class="container" id="plugin-list-group">
  <div id="pluginShadowTop"></div>
  <div class="list-group" id="plugin-list-tab" role="tablist">
    @for (plugin of pluginList; track $index) {
      <button [attr.aria-controls]="'list-'+(plugin.name)" class="list-group-item list-group-item-action"
              data-bs-toggle="list"
              [attr.href]="'#list-'+(plugin.name)"
              [attr.id]="'list-'+(plugin.name)+'-list'" role="tab"
              (click)="this.pluginSettings(plugin)">{{ plugin.name }}
      </button>
    }
  </div>
  <div id="pluginShadowBottom"></div>
</div>
