<div class="container" id="mainFrame">
  <div class="row">
    <div class="col justify-content-start text-start">
      <h1 style="margin-left: 1.75rem">Server</h1>
    </div>
    <div class="col justify-content-end text-end">
      <svg class="bi bi-circle-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
           xmlns="http://www.w3.org/2000/svg">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </div>
  </div>
  <div class="row">
    <div class="container" id="secondaryFrame">
      <div class="row">
        <div class="col install-wrapper">
          <button class="btn btn-blurple z-1" style="scale: 2; margin: 2rem 2rem 0">Install Bot</button>
        </div>
      </div>
      <div class="row" style="margin-top: -4rem; margin-bottom: 8rem">
        <div class="container text-center z-0">
          <div class="row row-cols-3">
            @for (plugin of pluginList; track $index) {
              <div class="col">
                <app-plugin-collapse [plugin]="plugin"
                                     [zIndex]="((pluginList!.length)-$index)"></app-plugin-collapse>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
