<div class="sidebar z-3" id="mySidebar" style="z-index: 100">
  <button (click)="closeSidebar()" aria-label="Close" class="btn-close" type="button"></button>
  <div class="logBtn">
    @if (loggedIn) {
      <button class="btn btn-ol-red" data-bs-toggle="modal" data-bs-target="#logoutModal"><strong>Logout</strong>
      </button>
    } @else {
      <button class="btn btn-ol-blurple" (click)="logIn()"><strong>Login</strong>
      </button>
    }
  </div>
  <div class="container">
    <div class="container server-list" style="min-width: 250px">
      <app-server-list></app-server-list>
    </div>
    <div class="container plugin-list" style="min-width: 250px">
      <app-plugin-list></app-plugin-list>
    </div>
  </div>

</div>
