<div class="card" style="width: 18rem; margin: auto;">
  <!--  @if (this.plugin.isNew) {-->
  <!--    <h3 style="padding: 0; margin: 0"><span class="badge text-bg-red">New</span></h3>-->
  <!--  }-->
  <div class="card-body">
    <h4 class="card-title" style="margin: 0.5rem 0 2rem; padding-right: 3rem">{{ this.plugin.displayName }}</h4>
    <p class="card-text">{{ this.plugin.description }}</p>
    <div class="container" style="margin: 5rem 0 0; padding: 0">
      @if (this.loggedIn) {
        <a (click)="pluginSettings()" class="btn btn-blurple">View</a>
      } @else {
        <button class="btn btn-ol-blurple" (click)="logIn()"><strong>Login to view</strong>
        </button>
      }
    </div>
  </div>
</div>
