<!--<div class="container" id="mainFrame">
  <div class="row">
    <div class="col justify-content-start text-start">
      <h1 style="margin-left: 1.75rem">{{ this.plugin?.name }}</h1>
    </div>
    <div class="col justify-content-end text-end">
      <div class="form-check form-switch" style="float: right; padding-right: 1.75rem">
        <input class="form-check-input" id="pluginToggle" role="switch" type="checkbox">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container" id="secondaryFrame">
      <div class="row" style="margin-bottom: 2rem">
        <div class="col justify-content-start text-start">
          <h4>Option 1</h4>
        </div>
        <div class="col justify-content-end text-end">
          <div class="form-check form-switch" style="float: right">
            <input class="form-check-input" id="Option1Toggle" role="switch" type="checkbox">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col justify-content-start text-start">
          <h4>Option 2</h4>
        </div>
        <div class="col justify-content-end text-end">
          <div class="dropdown">
            <button aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
              Choose...
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->


<!-- src/app/components/plugin/plugin.component.html -->

<div *ngIf="pluginData$ | async as pluginData">
  <h1>{{ pluginData.displayName }}</h1>
  <ng-container *ngFor="let item of pluginData.value">
    <ng-container [ngSwitch]="item.type">
      <!-- Checkbox Component -->
      <div *ngSwitchCase="'checkbox'">
        <label>
          <input [checked]="item.value" [disabled]="!item.enabled" type="checkbox"/>
          {{ item.displayName }}
        </label>
      </div>
      <!-- Group Component -->
      <div *ngSwitchCase="'group'">
        <h2>{{ item.displayName }}</h2>
        <ng-container *ngFor="let subItem of item.value">
          <ng-container [ngSwitch]="subItem.type">
            <!-- Checkbox Component -->
            <div *ngSwitchCase="'checkbox'">
              <label>
                <input [checked]="subItem.value" [disabled]="!subItem.enabled" type="checkbox"/>
                {{ subItem.displayName }}
              </label>
            </div>
            <!-- Slider Component -->
            <div *ngSwitchCase="'slider'">
              <label>
                {{ subItem.displayName }}
                <input
                  [disabled]="!subItem.enabled"
                  [max]="subItem.maxValue"
                  [min]="subItem.minValue"
                  [step]="subItem.step"
                  [value]="subItem.value"
                  type="range"
                />
              </label>
            </div>
            <!-- Group Component Recursion -->
            <div *ngSwitchCase="'group'">
              <h2>{{ subItem.displayName }}</h2>
              <ng-container *ngFor="let nestedItem of subItem.value">
                <ng-container [ngSwitch]="nestedItem.type">
                  <div *ngSwitchCase="'checkbox'">
                    <label>
                      <input [checked]="nestedItem.value" [disabled]="!nestedItem.enabled" type="checkbox"/>
                      {{ nestedItem.displayName }}
                    </label>
                  </div>
                  <div *ngSwitchCase="'slider'">
                    <label>
                      {{ nestedItem.displayName }}
                      <input
                        [disabled]="!nestedItem.enabled"
                        [max]="nestedItem.maxValue"
                        [min]="nestedItem.minValue"
                        [step]="nestedItem.step"
                        [value]="nestedItem.value"
                        type="range"
                      />
                    </label>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!-- Slider Component -->
      <div *ngSwitchCase="'slider'">
        <label>
          {{ item.displayName }}
          <input
            [disabled]="!item.enabled"
            [max]="item.maxValue"
            [min]="item.minValue"
            [step]="item.step"
            [value]="item.value"
            type="range"
          />
        </label>
      </div>
    </ng-container>
  </ng-container>
</div>
