<div class="container" id="mainFrame">
  <div class="row">
    <div class="col justify-content-start text-start">
      <h1 style="margin-left: 1.75rem">{{ this.plugin?.name }}</h1>
    </div>
    <div class="col justify-content-end text-end">
      <div class="form-check form-switch" style="float: right; padding-right: 1.75rem">
        <input class="form-check-input" id="pluginToggle" role="switch" type="checkbox">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container" id="secondaryFrame">
      <div class="row" style="margin-bottom: 2rem">
        <div class="col justify-content-start text-start">
          <h4>Option 1</h4>
        </div>
        <div class="col justify-content-end text-end">
          <div class="form-check form-switch" style="float: right">
            <input class="form-check-input" id="Option1Toggle" role="switch" type="checkbox">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col justify-content-start text-start">
          <h4>Option 2</h4>
        </div>
        <div class="col justify-content-end text-end">
          <div class="dropdown">
            <button aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
              Choose...
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
