<div class="container-fluid" style="padding-top: 1rem; padding-right: 0; padding-left: 0; margin-right: 0">
  <div class="row" style="padding: 0; margin-right: 0">
    <div class="col text-center z-0">
      <h1><strong>Welcome to BotHQ</strong></h1>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col text-center" style="padding: 1rem 0 0; margin: 0">
      Your ultimate destination for Discord bot customization!<br><br>With BotHQ, you're the commander of your
      server's
      destiny.<br>Our platform offers a diverse array of plugins, each designed to enhance your Discord experience in
      unique ways.<br>From moderation tools to entertainment features, and everything in between, BotHQ empowers you
      to
      create a truly bespoke server environment.<br>Seamlessly mix and match plugins to suit your community's needs,
      all
      through our user-friendly interface.<br><br>Elevate your Discord server to headquarters status with BotHQ today!
    </div>
  </div>
</div>
<app-carousel></app-carousel>
