h1 {
  background: -webkit-linear-gradient(45deg, var(--dc-blurple), var(--dc-red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pluginShowcase {
  padding: 0 5rem 3rem;
  margin: 3rem 0 0;
}
