<!doctype html>
<html [attr.data-bs-theme]=this.theme lang="en">
<body id="main" style="padding-left: 0; padding-right: 0; padding-bottom: 0">
<app-navbar (loginEvent)="toggleLogin($event)" (sidebarOpenEvent)="openSidebar()"
            (themeEvent)="receiveTheme($event)" [appTheme]="this.theme" [loggedIn]="this.authService.loggedIn"
></app-navbar>
<app-sidebar (loginEvent)="toggleLogin($event)" (sidebarCloseEvent)="closeSidebar()"
             [loggedIn]="this.authService.loggedIn"></app-sidebar>
<router-outlet/>
</body>
</html>
