html {
  min-height: 100dvh;
  background-color: var(--bhq-background);
}

body {
  background-color: var(--bhq-background);
  margin: 0;
  padding: 5rem 0 0;
}

#main {
  transition: margin-left ease .5s;
}
