<div [attr.id]="frame" class="container">
  @if (header) {
    <h3>{{ item.displayName }}</h3>
  } @else {
    <h2>Options</h2>
  }
  <ng-container *ngFor="let nestedItem of item.value">
    <div *ngIf="nestedItem.type == 'checkbox'" class="option">
      <app-checkbox [item]="nestedItem"></app-checkbox>
    </div>

    <div *ngIf="nestedItem.type == 'slider'" class="option">
      <app-slider [item]="nestedItem"></app-slider>
    </div>

    <div *ngIf="nestedItem.type == 'group'" class="option">
      <app-group [frame]="'noFrame'" [item]="nestedItem"></app-group>
    </div>

    <div *ngIf="nestedItem.type == 'combobox'" class="option">
      <app-combobox [item]="nestedItem"></app-combobox>
    </div>

    <div *ngIf="nestedItem.type == 'radiobox'" class="option">
      <app-radiobox [item]="nestedItem"></app-radiobox>
    </div>

    <div *ngIf="nestedItem.type == 'textbox'" class="option">
      <app-textbox [item]="nestedItem"></app-textbox>
    </div>
  </ng-container>
</div>
