#slider {
  float: right;
  width: 40%;
}

input[type="range"]::-moz-range-thumb {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input[type="range"]::-webkit-slider-thumb {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input[type="range"]::-ms-thumb {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input[type="range"]::-ms-track {
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
}
